.recentSection {
  min-width: 0;
  margin-top: 38px;
  margin-left: 3px;
}

.recentTitle {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  color: black;
}

.listSection {
  margin-top: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
